/* Fonts */

@font-face {
    font-family: 'SanofiSerif-Bold';
    src: url('./fonts/SanofiSerif-Bold.otf');
}

@font-face {
    font-family: 'SanofiSerif-BoldItalic';
    src: url('./fonts/SanofiSerif-BoldItalic.otf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup div {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#popupImage {
    width: 100%;
    height: auto;
}

#closePopup {
    position: absolute;
    top: 28%;
    left: 90%;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

#popupCarta {
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 5%;
    left: 25%;
    z-index: 1000;
}

#popup div {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#popupImageCarta {
    width: 100%;
    height: auto;
}

#closePopupCarta {
    position: absolute;
    top: 28%;
    left: 90%;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('../piezas/sanofi_fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 1.25rem;
}

.symbol-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75rem;
    height: 18.75rem;
    margin-left: 50px;
    margin-top: 20px;
}

.info-symbols-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 70px;
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.text-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text-img {
    width: 90%;

}

.cards-text {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.40rem;
    font-family: 'SanofiSerif-BoldItalic', sans-serif;
    padding: 1rem;
    width: 80%;
}

.logo-symbols-container {
    width: 100px !important;
}

.deck-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 18.75rem;
    margin-top: 4.375rem;
}

.luz-fondo {
    width: 28.125rem;
}

.card-back {
    position: absolute;
}

.card-back img {
    width: 13.75rem;
}

.card {
    position: absolute;
    cursor: pointer;
}

.card img {
    width: 13.75rem;
}

.logo-baraja {
    position: absolute;
    /* Position the logo absolutely within the container */
    bottom: 5%;
    /* Align it to the bottom */
    right: 9%;
}

.img-baraja {
    width: 90%;
}

.logo-sanofi-container {
    position: absolute;
    /* Position the logo absolutely within the container */
    bottom: 10%;
    /* Align it to the bottom */
    left: 5%;
}

.logo-sanofi-container img {
    width: 100%;
}

.container.hovered {
    /* Change the appearance of the container */
    border: 2px solid #000;
}


.a-container,
.x-container,
.b-container,
.r-container,
.s-container {
    border: 10px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 9.25rem;
    height: 13rem;
    border-radius: 0.9375rem;
    background-color: #23004C;
    color: #ffffff;
}

.a-container img,
.x-container img,
.b-container img,
.r-container img,
.s-container img {
    width: 9.25rem;
}

@media screen and (max-width: 1366px) {

    body {
        overflow: hidden;
    }

    .container {
        padding: 1rem;
    }

    .symbol-container {
        width: 100%;
        margin-left: 40px;
        margin-top: 20px;
        justify-content: center;
        gap: 2rem;
    }

    .deck-container {
        width: 90%;
        margin-left: 5%;
    }

    .luz-fondo {
        width: 80%;
    }

    .cards-container {
        margin-left: 1rem;
        margin-top: -2%;
    }

    .card img {
        width: 9.75rem;
    }

    .card-back img {
        width: 9.75rem;
    }


    .text-img {
        width: 100%;
    }

    .text-container {
        margin-top: 0;
    }

    .cards-text {
        font-size: 1.20rem;
        width: 90%;
    }

    .logo-baraja {
        position: absolute;
        /* Position the logo absolutely within the container */
        bottom: 3%;
        /* Align it to the bottom */
        right: 4%;
    }

    .img-baraja {
        width: 80%;
    }

    .logo-symbols-container {
        width: 80px !important;

    }

    .logo-sanofi-container img {
        width: 90%;
    }


    .a-container,
    .x-container,
    .b-container,
    .r-container,
    .s-container {
        border: 0.625rem solid #ffffff;
        padding: 0.5rem;
        width: 9rem;
        height: 12rem;
        border-radius: 0.75rem;
    }

    .a-container img,
    .x-container img,
    .b-container img,
    .r-container img,
    .s-container img {
        width: 8.25rem;
    }
}